.boton {
    color: white;
    background-color: rgb(26, 134, 161);
    text-align: center;
}

.titulo {
    text-align: center;
    color: blue;
    background-color: azure;
}

.body {
    background-color: blue;
}

.boton:hover{
   background-color: blueviolet;
}

.botones{
    align-items: center;
}